<tr>
    <td>{{id}}</td>
    <td><img src="IMG/{{img}}.png"></td>
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td>{{size}}</td>
    <td><a href="/delete?id={{id}}">delete</a> </td>
    <td><a href="/info?id={{id}}">info</a> </td>
    <td><a href="/donwload?id={{id}}">donwload</a> </td>
</tr>